@charset "utf-8";

#page {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #fffff9;
}

.box1{
    position: relative;
    background: #FFE0FF;
    box-shadow: 0px 0px 0px 5px #FFE0FF;
    border: dashed 2px #D96CD9;
    padding: 0.2em 0.5em;
    color: #454545;
}

.box1::after{
    position: absolute;
    content: "";
    right: -7px;
    top: -7px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: #E6CAE6 #fffff9 #E6CAE6;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.box1 p{
    margin: 10px;
    padding: 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}



.btn{
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 50px;
    min-width: 150px;
    max-width: 100%;
    color: #1A4472;
    font-size: 30px;
    background: #cce5ff;
}

.btn::before{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 20px;
    bottom: -15px;
    border-top: 15px solid #cce5ff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

@media screen and (min-width:481px)
{
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    li{
        width: 100%;
        box-sizing: border-box;
        padding: 30px; /*ほかの要素と貫通する*/
        margin: auto; /*ほかの要素と地味に調節してくれる(具体的な数値を置くときれいに整頓される。40pxくらい?)*/
        margin-top: 40px; /*marginをautoにしていると上の部分が間隔狭くなったりするので調節*/
        
        /*
        ---------------------------------------------
        |       margin        top                   |
        |      -----------------------------        |
        |      |   border                  |        |
        | left |   -------------------     | right  |
        |      |   |    padding      |     |        |
        |      |   |    ■■■■■■■      |     |        |
        |      |   -------------------     |        |
        |      |                           |        |
        |      -----------------------------        |
        |                bottom                     |
        ---------------------------------------------

        */


    }
}

@media screen and (min-width:640px)
{
    li{
        width: 40% /*ここを調節していい感じの横並びを作る。*/
        
    }
}

