@charset "utf-8";

#page {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background-color: #fffff9
}

.box1{
    margin: 10px;
    display: inline-block;
    position: relative;
    background: #E6E6FF;
    box-shadow: 0px 0px 0px 5px #E6E6FF;
    border: dashed 2px #9999FF;
    padding: 0.2em 0.5em;
    color: #454545;
}

.box1::after{
    position: absolute;
    content: "";
    right: -7px;
    top: -7px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: #CCCCFF #fffff9 #CCCCFF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.box1 p{
    margin: 10px;
    padding: 10px;
}

.toptitle{
    background-color: #90ce9c;
}

ul {
    background: #fffff9;
    padding: 0.5em 0.5em 0.5em 2em;
    border: solid 3px #d4ecee;
    margin: 30px 90px 30px 30px;
    max-width: 500px;
}

ul li {
    line-height: 1.5;
    padding: 0.5em 0;
}

h3 {
    display: inline-block;
    border-bottom: dashed 3px #90ce9c;
}

.mark {
    background: linear-gradient(transparent 40% #00ffff 80%);
}
