html {
	background-color: #ffffff;
	margin: 0;
	padding : 0;
	min-height: 1300px;
	font-size: 2vh;
}
body {
	margin: 0;
	padding : 0;
	width: 100%;
	min-width: 320px;
}
p {
	margin: 0;
	padding : 0;
}
nav ul{
	display: table;
	margin: 0 auto;
	padding: 0;
	width: 80%;
	text-align: center;
}
nav ul li{
	display: table-cell;
	position: relative;
}
nav ul li a{
	display: block;
	width: 100%;
}
nav ul li a::after,
nav ul li a::before {
	display: block;
	content: ”;
	position: absolute;
}
nav ul li a::after {
	bottom: -50%;
	left: 50%;
	width: 5px;
	height: 5px;
	background-color: #ccc;
	border-radius: 100%;
}
nav ul li a.current::after {
	background-color: #3498db;
}
nav ul li a:hover{
	color: #3498db;
}
nav ul li a:hover:after {
	background-color: yellow;
	width: 100%;
	left: 0;
	border-radius: 5px;
}
nav ul li a{
	text-decoration: none;
	color:rgb(255, 255, 255);
}
nav ul li a.current{
	color:#555;
}
li {
	padding: 8px;
}
.listA {
	background-color: #f3fbff;
	border: 2px skyblue dashed;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.toptitle {
	color: #f3fbff;
	font-size: 4vmin;
	font-weight: bolder;
}
#pagecover {
	width: 100%;
	min-height: 100%;
	position: relative;
	padding-bottom: 120px;
	box-sizing: border-box;
	padding: 0px;
	background-color: #c4c4c462;
	overflow-y: hidden;
}
header {
	background-color: rgba(4, 138, 93, 0.911);
	padding-left: 3%;
	height: auto;
	margin: 0;
	box-sizing: border-box;
	box-shadow: #585858 5px;
}
section {
	padding-top: 2%;
	text-align: center;
	padding-bottom: 4em;
	margin: 0 auto;
	background-color: #ffffff;
	margin-top: 5px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	text-align: left;
	font-size: 2vh;
	width: 60%;
	min-width: 100vmin;
	margin-bottom: 80px;
}
footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 4em;
	color: white;
	background-color: rgba(4, 138, 93, 0.911);
	text-align: right;
	margin: 0px;
	padding: 0px;
}
main {
	padding-left: 8%;
	padding-right: 8%;
}
#Mokuji {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 42px;
    font-weight: 500;
    background: #3ABFB8;
    text-align: center;
    color: white;
	font-weight: 700;
	border-radius: 4px;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
}
#contentstable {
	padding: 1px;
	border: solid 2px;
	border-top: none;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    background: #e1f7f6;
    border-color: #3ABFB8;
}
.bar {
	height: 2em;
	background-color: rgba(228, 187, 8, 0.384);
	}
/*.searchwindow {
	text-align: right;
	padding: 3px;
}*/
.title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-style: oblique;
	font-weight: bold;
	font-size: 3.2rem;
	text-align: center;
}
.name {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 600;
	text-align: right;
	font-size: 110%;
}
.subtitle {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
	font-style: oblique;
	font-weight: 700;
	font-size: 3em;
}
.menu {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #ffffff;
}
.subheading {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 170%;
	font-weight: bold;
	padding: 0.3em;
	color: #585858;
	background: #fffaf4;
	border-left: solid 5px #ffaf58;
}
.Mokujisub {
	font-size: 140%;
}
.parts {
	background-color: #f3fbff;
	border: 2px skyblue dashed;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.link1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	cursor: pointer;
	max-width: 300px;
	max-height:100px;
	margin: 1em auto;
	padding: 10px;
	border-radius: 6px;
	box-sizing: border-box;
	color: #fff;
	font-style: oblique;

	text-align: center;
	text-decoration: inherit;
	background: #20b2aa;
	box-shadow: 0 6px 0 #047c71, 0 12px 0 rgba(0,0,0,.2);
	transition: color .1s, background .1s, box-shadow .1s, transform 0.3s;
}
.link1:hover {
	background: #3cc4bd;
	box-shadow: 0 3px 0 #12978d, 0 6px 0 rgba(0,0,0,.2);
	transform: translateY(3px);
}
.link1:active {
	color: #ddd;
	background: #12978d;
	box-shadow: 0 0 0 #047c71, 0 0 0 rgba(0,0,0,.2);
	transform: translateY(6px);
	transition-duration: .1s;
}
th,td {
	padding: 7px 10px;
	text-align: center;
	border: solid 3px skyblue;
}
table {
	border-collapse: collapse;
}
.topicon {
	text-align: right;
	margin-bottom: 4em;
}
.top {
	text-align: right;
	display:inline-block; 
	position: relative;
	background: #999;
	border-radius:90px;
	width:90px;
	height:90px;
	margin:5px;
}
.top:hover {
	opacity: 0.8;
}
.top:before {
	content:''; 
	display: block; 
	position: absolute; 
	height:0; 
	width:0; 
	top:-3px; 
	left:25px;
	border-top: 30px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid #fff;
	border-left: 20px solid transparent;
}
.left {
	text-align: left;
}